<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension point="org.eclipse.ui.importWizards">
      <wizard
            id="org.uqbar.sGit.importWizards.ImportProjectFromGitRepositoryWizard"
            name="%IMPORT_GIT_PROJECT_WIZARD_NAME"
            class="org.uqbar.sGit.importWizards.ImportProjectFromGitRepositoryWizard"
            category="org.eclipse.egit.ui.internal.clone.gitclonecategory"
            icon="icons/repo_rep.png">
         <description>
         	%IMPORT_GIT_PROJECT_WIZARD_DESCRIPTION
         </description>
      </wizard>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.uqbar.SGit"
            name="Git">
      </category>
      <view
            category="org.uqbar.SGit"
            class="org.uqbar.sGit.views.GitView"
            icon="icons/staging.png"
            id="org.uqbar.sGit.views.GitView"
            name="%SGIT_NAME">
      </view>
   </extension>

   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   
</plugin>
